<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="John Mitchell">
  <meta name="creator" content="John Mitchell">
  <title>{% block title %}Spotify Playlist Tracker{% endblock %}</title>

  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MNP5N2CB');</script>
<!-- End Google Tag Manager -->

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MNP5N2CB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <header>
    <img src="{{ url_for('static', filename='img/smartPlaylist_banner.jpg') }}" alt="Spotify Smart Playlist Generator" style="width:100%; height:auto;">
  </header>
  {% block content %}{% endblock %}
</body>
</html>